<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Tutorial</title>
    
</head>
<body>
    <p>Lesson 7 - Implementing nested controllers and scopes</p>
    <div ng-controller="LevelaController">        
        <h3>{{ title }}</h3>
        <p>{{ valueA }}</p>
        <button ng-click="inc()">+</button>
        <hr />
        
        <div ng-controller="LevelbController">
            <h3>{{ title }}</h3>
            <p>{{ valueA }}</p>
            <p>{{ valueB }}</p>
            <button ng-click="inc()">+</button>
            <hr />
                            
            <div ng-controller="LevelcController">
                <h3>{{ title }}</h3>
                <p>{{ valueA }}</p>
                <p>{{ valueB }}</p>
                <p>{{ valueC }}</p>
                <button ng-click="inc()">+</button>
                <hr />                
            </div>
            
        </div>
        
    </div>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"/"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/from-book/lesson7.js"></script>
       
</body>
</html>