<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Tutorial</title>
    <style>
        span {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <p>Lesson 22 - imeplementing watches in controllers</p>
    
    <div ng-controller="MyController">
        Select color: <span ng-repeat="colour in mColors">
            <span ng-style="{color:colour}"
                  ng-click="setColor(colour)"> {{ colour }}</span>
        </span><hr />
        
        <span ng-click="hit()">[+]</span>
        Hits: {{ hits }} <hr />
        <span ng-click="miss()">[+]</span>
        Misess: {{ misses }} <hr />
        Object: {{ myObj | json }} <br />
        Number of changes: {{ changes }}
    </div>
    
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"/"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/from-book/lesson22.js"></script>
       
</body>
</html>