<!DOCTYPE html>
<html ng-app="myFirstApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Tutorial</title>
    
</head>
<body>
    <h2>Main</h2>
    
    <!--<div class="container" ng-controller="SimpleController">
        <h3>Template 1</h3>
        <input type="text" ng-model="filter.name" />
        <ul>
            <li ng-repeat="cust in customers | filter:filter.name | orderBy:'city'"> {{ cust.name | lowercase }} - {{ cust.city  | uppercase }}</li>
        </ul>
        <br>
            cust name: <input type="text" ng-model="newCustomer.name" />
        <br>
            cust city: <input type="text" ng-model="newCustomer.city" />
        <br>    
            <input type="button" ng-click="addCustomer()" value="Add customer"/>
        <br>    
        <a href="#/template2">Template 2</a>
    </div>    
    
    Name:
    
    
    <div class="container" ng-controller="SimpleController">
        <input type="text" ng-model="name" />
        <h3>Looping with ng-repeat diractive</h3>
        <ul>
            <li ng-repeat="cust in customers | filter:name | orderBy:'city'"> {{ cust.name | lowercase }} - {{ cust.city  | uppercase }}</li>
        </ul>
    </div>
    
    <div class="container2" ng-controller="ItemController">
        item:<br>
        <input type="text" ng-model="item2" />
        <ul>
            <li ng-repeat="it in items | filter:item2"> {{ it.name }} - {{ it.category }} </li>
        </ul>
    </div>-->

    <!-- Placeholder for views -->
    <div>
        <div ng-view=""></div>    
    </div>
    
    
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/myFirstApp.js"></script>
       
</body>
</html>