<!DOCTYPE html>
<html ng-app="myFirstApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Tutorial</title>
    
</head>
<body>
    <h2>Main</h2>
    
    <!--<div class="container" ng-controller="SimpleController">
        <h3>Template 1</h3>
        <input type="text" ng-model="filter.name" />
        <ul>
            <li ng-repeat="cust in customers | filter:filter.name | orderBy:'city'"> {{ cust.name | lowercase }} - {{ cust.city  | uppercase }}</li>
        </ul>
        <br>
            cust name: <input type="text" ng-model="newCustomer.name" />
        <br>
            cust city: <input type="text" ng-model="newCustomer.city" />
        <br>    
            <input type="button" ng-click="addCustomer()" value="Add customer"/>
        <br>    
        <a href="#/template2">Template 2</a>
    </div>    
    
    Name:
    
    
    <div class="container" ng-controller="SimpleController">
        <input type="text" ng-model="name" />
        <h3>Looping with ng-repeat diractive</h3>
        <ul>
            <li ng-repeat="cust in customers | filter:name | orderBy:'city'"> {{ cust.name | lowercase }} - {{ cust.city  | uppercase }}</li>
        </ul>
    </div>
    
    <div class="container2" ng-controller="ItemController">
        item:<br>
        <input type="text" ng-model="item2" />
        <ul>
            <li ng-repeat="it in items | filter:item2"> {{ it.name }} - {{ it.category }} </li>
        </ul>
    </div>-->

    <!-- Placeholder for views -->
    <div>
        <div ng-view=""></div>    
    </div>
    
    
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script>
        var module = angular.module('myFirstApp', ['ngRoute'])
 
            module.controller ('SimpleController', function($scope, simpleFactory) {

            $scope.customers = [];
            
            init();            
            function init(){
                $scope.customers = simpleFactory.getCustomers();
            }
            
            $scope.addCustomer = function() {
                $scope.customers.push({name: $scope.newCustomer.name, 
                                       city: $scope.newCustomer.city});
            };
            });
            
            module.controller('ItemController', function($scope) {
                $scope.items = [
                    {name: 'cake', category: 'baking'},
                    {name: 'pankcake', category: 'cooking'},
                    {name: 'ribs', category: 'roasting'},
                ];
                
                $scope.addItem = function() {
                $scope.items.push({name: $scope.newItem.name,
                                   category: $scope.newItem.category});
            };
            });
            
            /* Factory */
            module.factory('simpleFactory', function(){
                var customers = [
                    {name: "Jan", city: "London"},
                    {name: "Janek", city: "London"},
                    {name: "Jarek", city: "London"},
                ];
                
                var factory = {};
                factory.getCustomers = function (){
                    return customers;
                };
                
                factory.postCustmers = function (customer) {
                    
                };
                
                return factory;
            });
            
            module.config(function ($routeProvider) {
               $routeProvider
                    .when ('/template1',
                    {
                        controller:'SimpleController',
                        templateUrl:'templates/template1.html'
                    })
                    .when ('/template2',
                    {
                        controller: 'ItemController',
                        templateUrl: 'templates/template2.html'    
                    })
                    .otherwise ({ redirectTo: '/template1' }); 
            });            
            
    </script>
    
</body>
</html>